body {
    margin: 0;
    padding: 0;
    background-color: #CCCDCD;
}

header {
    background-color: #2A81E2;
    padding: 1rem;
    text-align: center;
}

h1 {
    color: white;
    margin: 0 0 10px 0;
}

nav {
    display: none;
}

a {
    text-decoration: none;
}

.menu {
    background: none;
    border: none;
    color: white;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
}

img {
    width: 300px;           
    max-width: 300px;      
    object-fit: cover;     
    box-shadow: 5px 5px 15px black;
}

.border {
    border: 5px solid white;
}

footer {
    background-color: #2A81E2;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
}

@media screen and (min-width: 600px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
        justify-self: center;
    }
}

@media screen and (min-width: 1000px) {
    .menu {
        display: none; 
    }

    nav {
        display: block; 
    }

    nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    nav a {
        color: white;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}