body {
    margin: 0;
    padding: 0;
    background-color: #CCCDCD;
}

header {
    background-color: #2A81E2;
    padding: 1rem;
    text-align: center;
}

h1 {
    color: white;
    margin: 0 0 10px 0;
}

nav a {
    display: block;
    margin-top: 1rem;

    list-style: none;
    padding: 0;
    margin: 0 auto;

    margin: 0.8rem 0;

    color: white;
    font-size: 1.6rem;
    text-decoration: underline;
}

.hide{
    display: none;
}

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.6rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
}

img {
    width: 300px;           
    max-width: 300px;
    height: 300px;
    min-height: 300px;      
    object-fit: cover;     
    box-shadow: 5px 5px 15px black;
}

.border {
    border: 5px solid white;
}

footer {
    background-color: #2A81E2;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}

dialog img {
    width: 90vw;
    height: 90vh;
    max-width: 100vh;
    height: auto;
    display: block;
    margin: 20vh auto;
}

.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

@media screen and (min-width: 699px) and (max-width: 1199px) {
     .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
    }
}

@media screen and (min-width: 1200px) {
      .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav.hide {
        display: block;
    }

    nav a{
        display: inline;
        padding: 15px;
    }

    .menu-btn {
        display: none; 
    }
  
}