
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */

/* * {  
    margin: 0;
} */

body {
  font-family: Roboto, sans-serif;
}
header,
main,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #CCCDCD;
}
header {
    background-color: #2A81E2;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
 text-align: center;
}

section {
  padding: 20px;
  /* background-color: white;
  margin: 1em;
  border: 1px solid #ccc; */
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 4px 8px white; 
}

nav a {
    padding: 20px;
    color: black;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
nav{
    text-align: right;
}

.menu {
    cursor: pointer;
    border: none;
    color: white;
    background-color: transparent;
}


footer {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    
}

/* @media screen and (min-width: 500px) and (max-width: 1199px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    nav a{
        display: inline;
    }

    .menu-btn{
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav a{
        display: inline;
    }

    .menu-btn{
        display: none;
    }
} */