 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


header {
    text-align: center;
}

h1 {
    font-family: Georgia, serif;
    color: #3d2235;
    margin-bottom: 20px;
}


.main-nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 10px 20px;
    border-top: 2px solid #EDC798;
    border-bottom: 2px solid #EDC798;
}

.main-nav a {
    text-decoration: none;
    color: #b30059;
}

.blog-post {
    margin-top: 50px;
}

.post-details {
    text-align: right;
    margin-bottom: 30px;
    border-top: 2px solid #EDC798;
    padding: 0 1em 0 0;
}

.post-content h2 {
    color: #b30059;
    font-family: Georgia, serif;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 5px 0;
}

.post-content img {
    display: block;
    margin: auto;
}

#desc {
    text-align: left;
    padding-left: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    border-top: 2px solid #EDC798;
}


@media (min-width: 600px) {

    .blog-post {
        display: grid;
    }
    
    .post-details {
        padding-right: 20px;
        grid-column: 1/2;
        border-top: none;
    }

    .post-content {
        padding-left: 20px;
        border-left: 2px solid #EDC798;
        grid-column: 2/3;
    }

    .post-content h2 {
        text-align: left;
        margin-top: 0;
    }

    .post-content img {
        margin-left: 150px;
    }

    #desc {
        max-width: 500px;
    }
}